.arrow{
    color: #1b1b1b !important;
}
.swiper-pagination-bullet-active{
    background: black !important;
}

/* prevent horizontal scroll & center hover icons */
section {
  overflow-x: hidden !important;
}

.product-card {
  position: relative;
}

.product-card .hover-icons {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
