.container {
  max-width: 1212px;
  margin: auto;
}

.arrow{
    color: #1b1b1b !important;
}
.swiper-pagination-bullet-active{
    background: black !important;
}
@media only screen and (min-width: 1500px) {
  .container {
    max-width: 1440px;
    margin: auto;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1499px) {
  .container {
    max-width: 940px;
    margin: auto;
  }
}
@media only screen and (min-width: 576px) and (max-width: 991px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    max-width: 90%;
    margin: auto;
  }
}
